@charset "UTF-8";
*,
::before,
::after {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

@font-face {
  font-family: "DINPro";
  font-style: normal;
  font-weight: 400;
  src: local("DINPro-Regular"), local("DINPro"), url(../fonts/DINPro-Regular.woff) format("woff2"), url(../fonts/DINPro-Regular.woff) format("woff"), url(../fonts/DINPro-Regular.ttf) format("ttf");
}
@font-face {
  font-family: "DINPro";
  font-style: normal;
  font-weight: 500;
  src: local("DINPro-Medium"), local("DINPro Medium"), url(../fonts/DINPro-Medium.woff) format("woff2"), url(../fonts/DINPro-Medium.woff) format("woff"), url(../fonts/DINPro-Medium.ttf) format("ttf");
}
@font-face {
  font-family: "DINPro";
  font-style: normal;
  font-weight: 700;
  src: local("DINPro-Bold"), local("DINPro Bold"), url(../fonts/DINPro-Bold.woff2) format("woff"), url(../fonts/DINPro-Bold.woff) format("woff"), url(../fonts/DINPro-Bold.ttf) format("ttf");
}
html,
body {
  height: 100%;
}

@page {
  margin: 10mm 10mm !important;
  size: A4 portrait;
}
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.container {
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 10px;
  overflow: hidden;
}

.main__container {
  padding: 56px 0 72px 0;
}
@media (max-width: 768px) {
  .main__container {
    padding: 15px 0 72px 0;
  }
}

.header__container {
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.header__content {
  padding: 20px 0 20px 0;
  border-bottom: 1px solid #e7e7e7;
}
@media (max-width: 992px) {
  .header__content {
    border: none;
  }
}

.header__content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 992px) {
  .header__content-wrapper {
    font-size: 26px;
  }
}

.header__logo-institute-img {
  height: 80px;
  margin: 0 25px 0 5px;
}
@media (max-width: 576px) {
  .header__logo-institute-img {
    height: 60px;
    margin-right: 15px;
  }
}
@media (max-width: 480px) {
  .header__logo-institute-img {
    height: 60px;
    margin-right: 10px;
  }
}

.header__logo-institute-title {
  font-family: "DINpro", sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.33;
  color: #001489;
}
@media (max-width: 992px) {
  .header__logo-institute-title {
    font-size: 26px;
  }
}
@media (max-width: 768px) {
  .header__logo-institute-title {
    font-size: 24px;
  }
}
@media (max-width: 576px) {
  .header__logo-institute-title {
    font-size: 20px;
  }
}
@media (max-width: 480px) {
  .header__logo-institute-title {
    font-size: 18px;
  }
}

.questionnaire__form .form__title {
  text-align: center;
  font-family: "DINpro", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  color: #000000;
}
@media (max-width: 992px) {
  .questionnaire__form .form__title {
    font-size: 22px;
  }
}
@media (max-width: 576px) {
  .questionnaire__form .form__title {
    font-size: 20px;
  }
}
.questionnaire__form .form__input-label {
  font-family: "DINpro", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
}
.questionnaire__form .form__subtitle {
  text-align: center;
  font-family: "DINpro", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  color: #000000;
  text-decoration: underline;
  text-transform: uppercase;
  margin: 25px 0 0 0;
}
@media (max-width: 992px) {
  .questionnaire__form .form__subtitle {
    font-size: 18px;
  }
}
@media (max-width: 576px) {
  .questionnaire__form .form__subtitle {
    font-size: 16px;
  }
}
.questionnaire__form .form__table {
  border: 1px solid #000000;
  border-radius: 6px;
  margin: 30px 0 0 0;
}
.questionnaire__form .form__table ul {
  margin: 0;
}
.questionnaire__form .form__table ul li:nth-child(even) {
  background-color: #DDDDDD;
}
.questionnaire__form .form__table-row {
  font-family: "DINpro", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.33;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.questionnaire__form .form__table-header {
  font-family: "DINpro", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.33;
  color: #FFFFFF;
  background-color: #001489;
}
.questionnaire__form .form__table-header .form__table-cell-question,
.questionnaire__form .form__table-header .form__table-cell-answer {
  text-align: center;
  color: #FFFFFF;
}
.questionnaire__form .form__table-cell-question {
  width: 65%;
  padding: 10px;
}
.questionnaire__form .form__table-cell-answer {
  font-family: "DINpro", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.33;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  width: 35%;
  padding: 10px;
  margin: 0;
}
.questionnaire__form .form__table-cell-answer label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 10px 0 0;
}
.questionnaire__form .form__table-cell-answer input {
  width: 20px;
  height: 20px;
}
.questionnaire__form .form__table-cell-answer input:hover {
  cursor: pointer;
}
.questionnaire__form .form__table-cell-answer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.questionnaire__form .form__table-cell-checkbox {
  padding-right: 70px;
}
.questionnaire__form .form__table-cell-checkbox input:after {
  content: "Выбрать";
  font-family: "DINpro", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.33;
  color: #000000;
  float: left;
  position: relative;
  left: 27px;
}
.questionnaire__form .form__table-cell-radio input {
  width: 15px;
  height: 15px;
}
.questionnaire__form .form__table-cell-radio input:hover {
  cursor: pointer;
}
@media (max-width: 576px) {
  .questionnaire__form .form__table-cell-radio input {
    width: 12px;
    height: 12px;
  }
}
.questionnaire__form .form__table-cell-radio label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 15px 0 0;
}
.questionnaire__form .form__table-cell-radio label:hover {
  cursor: pointer;
}
.questionnaire__form .form__table-cell-radio label input {
  margin: 0 5px 0 0;
}
@media (max-width: 576px) {
  .questionnaire__form .form__table-cell-radio label input {
    margin: 0 2px 0 0;
  }
}
@media (max-width: 576px) {
  .questionnaire__form .form__table-cell-radio label {
    margin: 0 4px 0 0;
  }
}
.questionnaire__form .form-group {
  margin: 0;
}
.questionnaire__form .questionnaire__submit-wrap {
  text-align: center;
  margin: 15px 0 0 0;
}
.questionnaire__form .questionnaire__submit-btn {
  font-family: "DINpro", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.33;
  color: #FFFFFF;
  background-color: #e87722;
  border: none;
  border-radius: 6px;
  padding: 10px 25px;
}
.questionnaire__form .questionnaire__submit-btn:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #c63a3a;
}
.questionnaire__form .form__subtitle-2 {
  font-family: "DINpro", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.33;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px 0 10px 0;
}
.questionnaire__form .form__visual-scale-container {
  font-family: "DINpro", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.33;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #DDDDDD;
  border-radius: 5px;
  margin: 0 0 30px 0;
}
.questionnaire__form .form__visual-scale-container input {
  margin: 0 0 0 15px;
}

.modal__body {
  font-family: "DINpro", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.33;
  color: #000000;
}

.modal__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}

.modal__btn-close {
  font-family: "DINpro", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.33;
  color: #FFFFFF;
  background-color: #e87722;
  border: none;
  border-radius: 6px;
  padding: 10px 25px;
}
.modal__btn-close:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #c63a3a;
}

.footer__container {
  background-color: #EEE;
  padding: 15px 0 0 0;
  font-family: "DINpro", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.33;
  color: #777;
}